@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #3b82f6;
	//--background: #121212;
	//--surface: #18191c;
	//--surface-alt: #232428;
	//--text: #f3f4f6;
	//--text-muted: #a1a1aa;
}

body {
	@apply antialiased;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
	background: #111827; /* slate-900 */
	width: 8px;
	border-radius: 8px;
}
::-webkit-scrollbar-thumb {
	background: #3b82f6; /* blue-500 */
	border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
	background: #2563eb; /* blue-600 */
}
::-webkit-scrollbar-corner {
	background: #111827; /* slate-900 */
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #3b82f6 #111827;
}

/* Make calendar icon in date inputs white on dark backgrounds */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
} 